.dark-modeBody {
    color: #fff !important;
    background: #333333 !important;
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    background: #ffffff;
    color: #333333;
    transition: all 0s;
    font-family: "Noto Sans JP", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    padding: 0 0;
    margin: 0 0;

}

.header {
    margin: auto;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 550;
    font-size: 16px;
    background-color: #f6f8fa;
    padding: 10px 2px;
    border-bottom: 1px solid #d1d5da;
    border-radius: 5px;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-left svg {
    margin-right: 10px;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-left svg {
    margin-right: 10px;
}

.header-right {
    display: flex;
    align-items: center;
}

.header-right img {
    cursor: pointer;
}

.dark-modeHeader {

    background-color: #161b22;

}

#icon {
    width: 30px;
    cursor: pointer;
}

#loginForm {
    background-color: #c5c2d2;
    position: relative;
    margin: 0;
    padding: 0;
    margin: 5% auto;
    margin-top: 110px;
    width: 800px;
    height: 500px;
    box-shadow: 0 7px 9px #74727b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
}

.loginBox {
    background-color: rgb(210, 211, 225);
    color: #333333;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    padding: 60px;
    width: 400px;
    height: 500px;
    transition: all 0s;
    border-radius: 15px;
}

.CreateAccountBox {
    background-color: rgb(210, 211, 225);
    color: #333333;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 0;
    padding: 40px;
    width: 400px;
    height: 500px;
    transition: all 0s;
    border-radius: 15px;
}

.dark-modeForm {
    color: #fff !important;
    background: #3f3f3f !important;
}

.github-icon {
    cursor: pointer;
}

.main-contentWrapper {
    padding: 10px;
    margin-left: 0;
    border-bottom: 0px solid #d1d5da;
    margin-bottom: 20px;
    flex: 1;
    /* フレックス要素の幅を均等に */
    margin-bottom: 30px;
    padding-bottom: 35%;
    height: 60px;
}

.main-content {
    margin: 9px;
    margin-left: min(max(16%, 10px), 260px);
    max-width: 865px;
}

.main-contentTitle {
    font-size: 23px;
    font-weight: 550;
    margin-bottom: 10px;
}

.main-contentRepoWrapper {
    padding: 10px;
    margin-left: 0;
    border: 1px solid #d1d5da;
    flex: 1;
    margin-bottom: 30px;
    min-height: 60px;
    border-radius: 6px;
    max-width: 865px;
}

.left-contentWrapper {
    min-height: 94vh;
    padding: 10px;
    margin: 0;
    /* マージンをゼロに */
    margin-left: 0px;
    min-width: 280px;
    max-width: 305px;
    width: 30%;
    border-right: 1px solid #d1d5da;
    border-bottom: 1px solid #d1d5da;
    margin-bottom: 20px;
}

.left-content {
    margin: 9px;
    margin-top: 30px;
    font-size: 14px;
}

.left-contentTitle {
    font-size: 15px;
    font-weight: 550;
}

.container {
    display: flex;
    align-items: flex-start;
    /* 要素を上端に揃える */
}

.right-contentWrapper {
    padding: 10px;
    margin-left: 0;
    border-bottom: 1px solid #d1d5da;
    margin-bottom: 20px;
    margin-bottom: 30px;
    padding-bottom: 35%;
    width: 500px;
    min-height: 60px;
}

.right-content {
    margin: 9px;
}

.right-contentTitle {
    font-size: 23px;
    font-weight: 550;
    margin-bottom: 10px;
}

.right-contentRepoWrapper {
    padding: 10px;
    margin-left: 0;
    border: 1px solid #d1d5da;
    margin-bottom: 20px;
    flex: 1;
    /* フレックス要素の幅を均等に */
    margin-bottom: 30px;
    padding-bottom: 35%;
    min-height: 60px;
    border-radius: 6px;
    max-width: 850px;
}

#Right {
    display: none;
}